/*********************************************
 | Type file generated with anchor-generator |
 *********************************************/

// ------------------- ACCOUNT TYPE -------------------

export enum AccountType {
{{#accounts}}
  {{name}} = '{{name}}',
{{/accounts}}
}