/*********************************************
 | Type file generated with anchor-generator |
 *********************************************/

import BN from "bn.js";
import { PublicKey } from "@solana/web3.js";
import {
  anchorStruct,
{{#rustTypeImports}}
  {{.}},
{{/rustTypeImports}}
} from '@aleph-indexer/layout';

// ------------------- ENUMS -------------------
{{#enums}}
export enum {{name}} {
{{#variants}}
  {{.}} = '{{.}}',
{{/variants}}
}

{{/enums}}

// ------------------- TYPES -------------------
{{#types}}
export type {{name}} = {
{{#fields}}
  {{name}}{{#optional}}?{{/optional}}: {{type}}{{#multiple}}[]{{/multiple}}
{{/fields}}
}

{{/types}}


// ------------------- DATA LAYOUT -------------------
export const IX_DATA_LAYOUT: Partial<Record<{{eventTypeEnum.name}}, any>> = {
{{#types}}
  ["{{name}}"]: anchorStruct([
  {{#fields}}
    {{rustType}}({{#length}}{{length}}, {{/length}}'{{name}}'),
  {{/fields}}
  ]),
{{/types}}
}